.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
input{

  border: 1px black solid;
}
button{
  border: lightskyblue 5px solid;
  margin:10px
}
text{
text-decoration: none;
}
/* Regular card color */
a{
  text-decoration: none !important;
}
.card {
  background-image: linear-gradient(to right, #ffffff, lightblue) !important; /* Replace with your desired default color */
  /* Other card styles */
  transition: background-position 0.3s ease; /* Transition the background position */
  background-size: 200% 100%; /* Double the width to cover the entire card */
}

/* Change color on hover */
.card:hover {
  background-position: -100% 0 !important;
   /* Shift the gradient to the left */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}